#content{
    width: 100%;
    background-color: #202020;
}

/*首页样式*/
#content .index{
    width: 100%;
    padding-top: 120px;

    background-image:url('../images/big_bg/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: cover;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: cover;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}

#content .index .product_logo{
    margin: 0px auto 300px auto;
    width: 1000px;
    height: 100px;

    background-image:url('../images/index/product_logo.png');

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;

    -moz-background-size: auto 100%;
    -moz-background-repeat: no-repeat;
    -moz-background-position: top left;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: top left;

    -webkit-background-size: auto 100%;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: top left;

    -o-background-size: auto 100%;
    -o-background-repeat: no-repeat;
    -o-background-position: top left;
}

#content .index .product_text{
    width: 100%;
}
#content .index .product_text_left{
    width: 50%;
    height: 90px;
    background-color: rgba(24,24,24,1);
    float: left;
}
#content .index .product_text_right{
    width: 50%;
    height: 80px;
    background-color: rgba(255,255,255,.2);
    float: left;
    margin-top: 10px;
}

#content .index .product_text_content{
    position: relative;
    top: 0px;
    z-index: 10;
    width: 1000px;
    height: 90px;
    margin: auto;

    background-image:url('../images/index/product_content.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: contain;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: contain;
    -ms-background-repeat: no-repeat;
    -ms-background-position: left;

    -webkit-background-size: contain;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: contain;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}

/*了解外星人样式*/

#content .about{
    width: 100%;
    height: 500px;

    background-image:url('../images/big_bg/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: cover;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: cover;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}
#content .about .about_container{
    width: 1000px;
    height: 500px;
    margin: auto;
}

#content .about .about_container .about_layout{
    height: 500px;
    padding: 80px 20px;
}

#content .about .about_container .about_layout .about_layout_left{
    float: left;
    width: 160px;
    height: 340px;
    background-color: rgba(255,255,255,.5);
}

#content .about .about_container .about_layout .about_layout_right{
    float: left;
    width: 700px;
    height: 340px;
    background-color: rgba(24,24,24,.8);
    padding: 10px 20px;
    color: #ddd;
}

#content .about .about_container .about_layout .about_layout_right .about_item_about_us{
    height: 40px;
    background-image:url('../images/about/about_us.png');
    background-size: auto 16px;
    background-repeat: no-repeat;
    background-position: left;

    -moz-background-size: auto 16px;
    -moz-background-repeat: no-repeat;
    -moz-background-position: left;

    -ms-background-size: auto 16px;
    -ms-background-repeat: no-repeat;
    -ms-background-position: left;

    -webkit-background-size: auto 16px;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: left;

    -o-background-size: auto 16px;
    -o-background-repeat: no-repeat;
    -o-background-position: left;
}

#content .about .about_container .about_title{
    position: relative;
    z-index: 10;
    top:-400px;
    width: 180px;
    height: 70px;
    background-color: #e72026;

    background-image:url('../images/about/about_title.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: contain;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: contain;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: contain;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: contain;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}

.tabs_normal{
    width: 100px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #666;
    text-align: center;
    cursor: pointer;
}
.tabs_active{
    width: 100px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #666;
    background-color: #666;
    text-align: center;
    cursor: pointer;
}

.about_item_about_content{
    padding-top: 20px;
    font-size: 10px;
    line-height: 2.5;
    text-indent: 24px;
}

