#product{
    display: none;
    width: 100%;
    background-color: #000;
}
#product .product_title{
    width: 100%;
    height: 270px;

    background-image:url('../../images/big_bg/product_title.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: cover;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: cover;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}
#product .product_title .product_title_container{
    width: 1000px;
    height: 270px;
    margin: auto;

    background-image:url('../../images/index/product_logo_inline.png');

    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: center 100px;

    -moz-background-size: auto 60px;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center 100px;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center 100px;

    -webkit-background-size: auto 60px;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center 100px;

    -o-background-size: auto 60px;
    -o-background-repeat: no-repeat;
    -o-background-position: center 100px;
}

#product .product_title .product_title_container .title{
    height: 30px;

    background-image:url('../../images/index/product_title_inline.png');

    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: left;

    -moz-background-size: auto 30px;
    -moz-background-repeat: no-repeat;
    -moz-background-position: left;

    -ms-background-size: cover;
    -ms-background-repeat: no-repeat;
    -ms-background-position: left;

    -webkit-background-size: auto 30px;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: left;

    -o-background-size: auto 30px;
    -o-background-repeat: no-repeat;
    -o-background-position: left;

}

#product .product_content{
    width: 1000px;
    min-height: 300px;
    margin: auto;
}

#product .product_content .product_item{
    width: 100%;
    background-color: #202020;
    padding: 0px 50px;
}
#product .product_content .blank_5px{
    width: 100%;
    height: 5px;
}

#product .product_content .product_cate{
    min-height: 100px;
}

#product .product_content .product_img_list{
    min-height: 120px;
}

#product .product_content .product_logo{
    width: 140px;
    min-height: 120px;
    float: left;
}

#product .product_content .product_text{
    width: 760px;
    min-height: 120px;
    float: left;
    padding-left: 15px;
}

#product .product_content .product_text_cateName{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#product .product_content .product_text_content{
    font-size: 12px;
    text-indent: 24px;
    color: #999;
}
#product .product_content .product_text_btn{
    height: 20px;
    text-align: right;
}
#product .product_content .btn{
    width: 80px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #999;
    padding: 0px 10px;
    color: #999;
    text-align: center;
    font-size: 10px;
}
#product .product_content .btn:hover{
    background-color: #999;
    color: #fff;
}

.small_XPEL{
    background-image:url('../../images/index/logo_XPEL.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: auto 30%;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: auto 30%;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: auto 30%;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: auto 30%;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}

.small_3M{
    background-image:url('../../images/index/logo_3M.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: auto 30%;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: auto 30%;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: auto 30%;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: auto 30%;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}

.small_PWF{
    background-image:url('../../images/index/logo_PWF.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: auto 30%;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: auto 30%;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: auto 30%;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: auto 30%;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}
.small_ETPD{
    background-image:url('../../images/index/logo_ETPD.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-background-size: auto 30%;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center center;

    -ms-background-size: auto 30%;
    -ms-background-repeat: no-repeat;
    -ms-background-position: center center;

    -webkit-background-size: auto 30%;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: center center;

    -o-background-size: auto 30%;
    -o-background-repeat: no-repeat;
    -o-background-position: center center;
}